{% macro course_list(courses=[], course=None) %}
  <div class="desktop item class dropdown-expand">
    <a href="#" onclick="return false;">{{ course.courseTitle|default('Courses') }} &#x25be;</a>
    <ul class="dropdown">
      {% for course in courses %}
        <li><a href="/courses/{{ course.courseId }}/questions">{{ course.courseTitle }}</a></li>
      {% endfor %}
    </ul>
  </div>
  <div class="mobile">
    {% for course in courses %}
      <li><a href="/courses/{{ course.courseId }}/questions">{{ course.courseTitle }}</a></li>
    {% endfor %}
  </div>
{% endmacro %}

{% macro lecture_list(lectures=[],cur_lecture=None,isInstructor=False) %}
  <div class="lessons">
    <div class="heading">Lectures</div>
    {% for lecture in lectures %}
      <div class="item{% if cur_lecture.lectureId == lecture.lectureId %} sel{% endif %}">
        <a href="?lectureId={{ lecture.lectureId }}">{{ lecture.lectureTitle }}</a>
      </div>
    {% endfor %}
    {% if isInstructor %}
      <div class="item add">+ Add Lecture</div>
    {% endif %}
  </div>
{% endmacro %}

{% macro render_field(field, label=None) %}
  <div class="input">
    <div>{{ field.label }}{% if label %} {{label|upper}}{% endif %}</div>
    {{ field(**kwargs)|safe }}
  {% if field.errors %}
    <ul class=errors>
    {% for error in field.errors %}
      <li>{{ error }}</li>
    {% endfor %}
    </ul>
  {% endif %}
  </div>
{% endmacro %}
