<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
      <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" type="text/css" href="/static/style.css" />
        <title>Home</title>
        <script type="text/javascript" src="/static/js/ui.js"></script>
        {% block javascript %}
        {% endblock %}
  </head>
  <body>
    <div class="page portal">
      <div class="nav">
        <div class="desktop">
          <div class="item brand"><a href="/">Gnu/Clicker</a></div>
          <div class="item home"><a href="/">Home</a></div>
          {% block nav_items %}{% endblock %}
          {% if not g.user.is_authenticated() %}
            <div class="item home right"><a href="/login">Login</a></div>
          {% else %}
            <div class="item home right dropdown-expand">
              <a href="#" onclick="return false;">
                {{ g.user.name }} &#x25be;
              </a>
              <ul class="dropdown">
                <li><a href="/logout">Logout</a></li>
              </ul>
            </div>
          {% endif %}
        </div>
        <div class="mobile">
          <div class="item brand"><a href="/">Gnu/Clicker</a></div>
          <div class="item right dropdown-expand">
            <a href="#" onclick="return false;">
              {% if g.user.is_authenticated() %}
                {{ g.user.name }}
              {% else %}
                Home
              {% endif %}
              &#x25be;
            </a>
            <ul class="dropdown">
              <li><a href="/instructor/">Home</a></li>
              {{ self.nav_items() }}
              {% if g.user.is_authenticated() %}
                <li><a href="/logout">Logout</a></li>
              {% else %}
                <li><a href="/login">Login</a></li>
              {% endif %}
            </ul>
          </div>
        </div>
      </div>
      <div id="body">
        {% block body %}{% endblock %}
      </div>
    </div>

  </body>
</html>
