{% extends "page.html" %}

{% import "macros.html" as macros %}

{% set question = extra.question %}
{% set course   = extra.course %}
{% set round    = question.getActiveRound() %}

{% block javascript %}
  <script type="text/javascript" src="/static/js/jquery-1.11.1.min.js"></script>
  <script type="text/javascript" src="/static/js/student.js"></script>
  <script type="text/javascript">
    var courseId   = "{{ course.courseId }}";
    var questionId = "{{ question.questionId }}";
  </script>
{% endblock %}

{% block nav_items %}
  {{ macros.course_list(extra.courses) }}
{% endblock %}

{% block body %}
  <div class="question">
    <div class="header">
      <h3>{{ question.title }}<span class="course">{{ course.courseTitle }}</span></h3>
    </div>
    <div class="body">
      <h4 class="prompt">{{ question.questionBody }}</h4>
      {% set ids = cycler('a','b','c','d','e') %}
      {% for choice in question.choices %}
        {% if not loop.index == 0 %}
          <div class="space"></div>
        {% endif %}
        <div class="answer student-response" id="answer-{{ids.current|capitalize}}-{{ choice.choiceId }}">
          {{ ids.next()|capitalize }}. {{ choice.choiceStr }}
        </div>
      {% endfor %}
    </div>
    <div class="footer">
      <div id="submitting" class="hidden">
        <img id="flower-gear" src="http://www.millan.net/anims/gifs/snurra.gif">
      </div>
      <div id="submitted" class="hidden">
        <img id="check-mark" src="/static/check-mark-3-64.png">
          Your answer "<span id="submitted-answer"></span>" has been successfully submitted.
      </div>
      <div class="timer">
        {% if round %}
          Timer: <span id="timer">{{ round.startTime - extra.currentTime }}</span> sec
        {% else %}
          No active round
        {% endif %}
      </div>
    </div>
  </div>
{% endblock %}
