<form class="prompt" action="login.php">
  <div class="header">Sign In</div>
  <div class="content">
    <div class="label">Username</div>
    <div class="sm-space"></div>
  	<div class="input"><input type="text" value="" /></div>
    <div class="lg-space"></div>
    <div class="label">Password <a href="forgot.html">(forgot password)</a></div>
    <div class="sm-space"></div>
   <div class="input"><input type="password" value="" /></div>
    <div class="lg-space"></div>
    <div><button>Sign in</button></div>
  </div>
</form>
