<div class="desktop">
  <div class="item brand"><a href="%root%/">Gnu/Clicker</a></div>
  <div class="item home %sel-home%"><a href="%root%/instructor/">Home</a></div>
  %nav-items%
  <div class="item home right %sel-login%"><a href="%root%/instructor/login.php">Login</a></div>
</div>
<div class="mobile">
  <div class="item brand"><a href="%root%/">Gnu/Clicker</a></div>
  <div class="item right dropdown-expand"><a href="#" onclick="return false;">Home &#x25be;</a>
    <ul class="dropdown">
      <li><a href="%root%/instructor/">Home</a></li>
      %nav-items%
      <li><a href="%root%/instructor/login.php">Login</a></li>
    </ul>
  </div>
</div>
