{% extends "page.html" %}

{% import "macros.html" as macros %}

{% set course  = extra.course %}
{% set courses = extra.courses %}
{% set form = extra.form %}

{% block nav_items %}
  {{ macros.course_list(courses) }}
{% endblock %}

{% block body %}
  {{ macros.lecture_list(course.lectures,extra.lecture,True) }}
  {% if form.errors %}
    <div class="alert">Errors in form</div>
  {% endif %}
  <form method="post" action="">
    {{form.csrf_token}}
    <div class="questions">
      <div class="heading">Edit Question</div>
      <div class="content">
        {{macros.render_field(form.title)}}
        {{macros.render_field(form.prompt)}}
        {% for choice in form.choices %}
          {{choice.csrf_token}}
          {{macros.render_field(choice.answer, loop.cycle('a','b','c','d','e'))}}
          {{macros.render_field(choice.correct)}}
        {% endfor %}
        <div class="buttons">
        <button type="submit">Save</button> <button>Cancel</button>
        </div>
      </div>
    </div>
  </form>
{% endblock %}
