{% extends "page.html" %}

{% import "macros.html" as macros %}

{% set course  = extra.course %}
{% set courses = extra.courses %}

{% block nav_items %}
  {{ macros.course_list(courses) }}
{% endblock %}

{% block body %}
  <div class="lessons">
    <div class="heading">Lessons</div>
    {% for lecture in course.lectures %}
      <div class="item">{{ lecture.lectureTitle }}</div>
    {% endfor %}
    <div class="item add">+ Add Lesson</div>
  </div>

  <form method="post" action="%dest%">
    <div class="questions">
      <div class="heading">Edit Question</div>
      <div class="content">
        <div class="input"><div>Title</div><input type="text" /></div>
        <div class="input"><div>Question</div><input type="text" /></div>
        <div class="input"><div>Answer 1</div><input type="text" /></div>
        <div class="input"><div>Answer 2</div><input type="text" /></div>
        <div class="input"><div>Answer 3</div><input type="text" /></div>
        <div class="input"><div>Answer 4</div><input type="text" /></div>
        <div class="input"><div>Answer 5</div><input type="text" /></div>
        <div class="buttons">
        <button type="submit">Save</button> <button>Cancel</button>
        </div>
      </div>
    </div>
  </form>
{% endblock %}
