{% extends "page.html" %}

{% import "macros.html" as macros %}

{% set questions = extra.questions %}
{% set activeQuestion = extra.activeQuestion %}
{% set course  = extra.course %}
{% set courses = extra.courses %}
{% set isInstructor = g.user.userId == course.instructorId %}

{% block title %}
  Course
{% endblock title %}

{% block javascript %}
  <script type="text/javascript" src="/static/js/lesson.js"></script>
{% endblock %}
  
{% block nav_items %}
  {{ macros.course_list(courses,course) }}
{% endblock %}

{% block body %}
  {{ macros.lecture_list(course.lectures, extra.lecture, course, isInstructor) }}
  <div id="alert" class="alert {% if not activeQuestion %}hidden{% endif %}">
    Active Question: <a href="activeQuestion">{{activeQuestion.title}}</a>
  </div>
  <div class="questions">
    <div class="heading">Questions for {{extra.lecture.lectureTitle|default("all lectures")}}</div>
    {% for question in questions %}
      {% if question.rounds|count > 0 %}
        {% set round = question.rounds[0] %}
        {% set responses = round.responses|count %}
      {% else %}
        {% set responses = None %}
      {% endif %}
      <a class="item" href="/courses/{{ course.courseId }}/questions?questionId={{ question.questionId }}">{{ question.title }}</a>
      <div class="question content hide">
        <div class="text">{{ question.questionBody }}</div>
        {% for choice in question.choices %}
          {% if responses %}
            {% set percent = round.choicesOf(choice.choiceId)|count / responses * 100 %}
            {% set myChoiceId = round.userResponse(g.user).choiceId %}
          {% else %}
            {% set percent = 0 %}
            {% set myChoiceId = '' %}
          {% endif %}
          <div class="answer{% if choice.choiceValid == 1 %} correct{% endif %}{% if choice.choiceId == myChoiceId %} chosen{% endif %}">
            <div class="text">{{ choice.choiceStr }}</div>
            <div class="result" style="width: {{ percent }}%;">{{ percent }}%</div>
          </div>
        {% endfor %}
        {% if isInstructor %}
          <div class="buttons">
            <form method="POST" class="close-poll {% if not question.getActiveRound() %}hidden{% endif %}"
                  action="/courses/{{course.courseId}}/question/{{question.questionId}}/end">
                  <button type="submit">Close Poll</button>
            </form>
            <form method="POST" class="open-poll {% if question.getActiveRound() %}hidden{% endif %}"
                  action="/courses/{{course.courseId}}/question/{{question.questionId}}/start">
                  <button type="submit">Open Poll</button>
            </form>
            <a href="addQuestion?lectureId={{question.lecture.lectureId}}&questionId={{question.questionId}}"><button>Edit Question</button></a>
          </div>
        {% endif %}
      </div>
    {% endfor %}
    {% if isInstructor and extra.lecture %}
      <a class="item add" href="addQuestion?lectureId={{extra.lecture.lectureId}}">+ Add Question</a>
    {% endif %}
  </div>
{% endblock %}
